<div class="container ct-main mt-5">
  <div class="">
    <h2>Get in Touch</h2>
    <p>Feel free to contact us with any questions or comments.</p>
    <form class="contact-form">
      <div class="row mb-3">
        <div class="col-md-6 mb-2">
          <label for="name" class="form-label">Name <span>*</span></label>
          <input type="text" id="name" class="form-control" placeholder="">
        </div>
        <div class="col-md-6">
          <label for="email" class="form-label">Email Address <span>*</span></label>
          <input type="email" id="email" class="form-control" placeholder="">
        </div>
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Message <span>*</span></label>
        <textarea id="message" class="form-control" rows="5"></textarea>
      </div>
      <button type="submit" class="btn btn-primary d-flex justify-content-end">send</button>
    </form>
  </div>
</div>